.button-container {
    display: flex;
    padding: 10px;
}

.button-container button {
    border-radius: 15px;
    padding: 10px 20px;
    margin-right: 5px;
    flex-grow: 1;
    text-align: center;
}

.button-container button:last-child {
    margin-right: 0;
}

.header-container {
    position: absolute;
    left: 0;
    top: 60px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px); 
    max-width: 150px;
    padding: 10px;
}

.header-container h1,
.header-container h2,
.header-container h3 {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-frame {
    position: absolute;
    left: 190px;
    top: 90px;
    border: 2px solid #000;
    padding: 10px;
    width: calc(100% - 230px);
    height: calc(100% - 60px); /* calculating the rest of the height subtracting the button container's height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}