.button-container {
    display: flex;
    padding: 10px;
}

.button-container button {
    border-radius: 15px;
    padding: 10px 20px;
    margin-right: 5px;
    flex-grow: 1;
    text-align: center;
}

.button-container button:last-child {
    margin-right: 0;
}

.header-container {
    position: absolute;
    left: 0;
    top: 60px; /* adjust this value as per your need */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% - 60px); /* subtract the top value from the height */
    padding: 10px;
}

.header-container h1,
.header-container h2,
.header-container h3 {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 15px;
    height: 70px;
}
