body {
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-areas:
    "header header"
    "button button"
    "task subtitle";
  grid-template-rows: auto 90px auto;
  grid-template-columns: 260px auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

header,
footer,
article,
nav,
div {
  padding: 1.2em;
}
img {

  position: relative;
  border-radius: 15px;

}

.pageHeader {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageHeader__main-text {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__text {
  max-width: 200px;
  max-height: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 6px;
  margin-right: 0;
  align-items: center;
}

.header__text img {

  position: relative;
  width: 50%;
  border-radius: 15px;
  padding: 0px 5px;

}


.buttons-list {
  grid-area: button;
  text-align: center;
  font-size: 150%;
}

.button-container {
  display: flex;
  padding: 0px;
}

.button-container button {
  border-radius: 15px;
  padding: 10px 20px;
  margin-right: 5px;
  flex-grow: 1;
  text-align: center;
}

.button-container button:last-child {
  margin-right: 0;
}

.main_contener {
  grid-area: subtitle;
  text-align: center;
}


.tasks {
  grid-area: task;
}

.header-container {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px);
  max-width: 200px;
  padding: 10px;

}

.header-container li,
.header-container h1,
.header-container h2,
.header-container h3 {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 15px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc((100% - 10px)/6);
  margin-bottom: 5px;
}